{% extends "base.html" %}
{% load static %}
{% block title %} - Home{% endblock title %}

{% block body %}
	<section>
		<div class="posts">
			{% for blog in news %}
				<article>
					<a href="{% url 'blog:detail' id=blog.id %}" class="image"><img src="{{ blog.thumbnail.url }}" alt="" /></a>
					<h3>{{blog.title}}</h3>
					{% for tag in blog.tags.all %}
						<a href="#">{{tag.tag}}</a>,
					{% endfor %}
					<p>{{ blog.content|safe|truncatechars:120 }}</p>
				</article>
			{% endfor %}
			<ul class="pagination">
				<li><span class="button disabled">Prev</span></li>
				<li><a href="#" class="page active">1</a></li>
				<li><a href="#" class="page">2</a></li>
				<li><a href="#" class="page">3</a></li>
				<li><span>&hellip;</span></li>
				<li><a href="#" class="page">8</a></li>
				<li><a href="#" class="page">9</a></li>
				<li><a href="#" class="page">10</a></li>
				<li><a href="#" class="button">Next</a></li>
			</ul>
		</div>
		
		<hr />
		
		<h4>Popular Posts</h4>
		<div class="posts">
			{% for blog in popular %}
				<article>
					<a href="{% url 'blog:detail' id=blog.id %}" class="image"><img src="{{ blog.thumbnail.url }}" alt="" /></a>
					<h3>{{blog.title}}</h3>
					{% for tag in blog.tags.all %}
						<a href="#">{{tag.tag}}</a>,
					{% endfor %}
					<p>{{ blog.content|safe|truncatechars:120 }}</p>
				</article>
			{% endfor %}
			<ul class="pagination">
				<li><span class="button disabled">Prev</span></li>
				<li><a href="#" class="page active">1</a></li>
				<li><a href="#" class="page">2</a></li>
				<li><a href="#" class="page">3</a></li>
				<li><span>&hellip;</span></li>
				<li><a href="#" class="page">8</a></li>
				<li><a href="#" class="page">9</a></li>
				<li><a href="#" class="page">10</a></li>
				<li><a href="#" class="button">Next</a></li>
			</ul>
		</div>

		
	</section>
{% endblock %}